body{
/*	color: black;*/
	font-family: 'MedievalSharp', cursive;
	font-family: 'Montserrat', sans-serif;
	background-color: black;

}
.hundrd{
	width: 100%;
}
/*body::selection{
	color: yellow !important;
	background-color: black !important;
}*/
/*@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}*/

/*html{
	scroll-behavior: smooth;
}*/
::selection{
	color: yellow;
	background-color: black;
}
.bg-colrnav{
	background-image: url("../asset/images/banner.png");
	background-size: cover;
	background-repeat: no-repeat;
	top: 0;
	padding-bottom: 50px;
	width: 100%;
	padding-top: 191px;
}
.navigation-list{
	list-style: none;
	display: inline-flex;
	margin: 0;
	padding: 0;
	text-align: center;
}
.home{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	font-family: 'Montserrat', sans-serif;
}
.navigation-list a{
	position: relative;
}
.navigation-list a::after{
	content: "";
	height: 2px;
	width: 0px;
	background-color: white;
	position: absolute;
	left: 0;
/*	right: 0;*/
	top: 23px;
	display: block;
	transition: 0.5s ease-in;
}
.navigation-list a:hover::after{
	width: 100%;
	transition: 0.5s ease-out;
	


}

/*MOBI VIEW*/

.mobi-view{
	background-color: white;
    height: 50px;
    width: 50px;
    display: none;
    padding: 10px 0px;
    margin-left: auto;
 }

 .mobi-view span{
 	background-color: black;
 	height: 3px;
 	width: 40px;
 	display: block;
 	margin: 6px auto;
 	transition: 0.3s ease-in-out;
 }
 .mobi-view.open span:nth-child(1){
 	transform: rotate(39deg) translate(5px, 6px);
}
  .mobi-view.open span:nth-child(3){
 	transform: rotate(133deg) translate(-8px, 7px);
}
.mobi-view.open span:nth-child(2){
	opacity: 0;
}

.home a{
	text-decoration: none;
	color: white;
	transition: 0.3s ease;
}
.home a:hover{
	color: #7A743D;
	transition: 0.3s ease;
}
.navigation{
	background-color: rgba(0, 0, 0, 0.8);
	padding-top: 10px;
	padding-bottom: 10px;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
}
.icon{
	color: white;
}
.ssmedia-list ul{
	list-style: none;
	display: inline-flex;
	gap: 10px;
	margin: 0;
	padding: 0;
	margin-top: 20px;
}
.ssmedia-list i{
	color: white;
	margin-left: 5px;
	margin-right: 5px;
	transition: 0.3s ease;

}
.ssmedia-list i:hover{
	color: #7A743D;
	transition: 0.3s ease;
}
.ssmedia-list{
	text-align: right;
}
.body-text h3{
	color: white;
	font-family: 'MedievalSharp', cursive;
	font-size: 96px;
	text-transform: uppercase;
}
.body-text span{
	color: #7A743D;
}
.body-text h3:nth-child(1){
	margin-top: 180px;
	margin-bottom: 0px;
}
.body-text h3:nth-child(2){
	line-height: 70px;
}
.programms a{
	text-decoration: none;
	text-transform: uppercase;
	color: #7A743D;
	background-color: white;
	padding: 10px 15px;
	font-size: 16px;
	line-height: 75px;
	border-radius: 10px;
	margin-bottom: 10px;
	font-family: 'Montserrat', sans-serif;
	transition: 0.3s ease;
}
.programms a:hover{
	color: white;
	background-color: #7A743D;
	transition: 0.3s ease;
}
.programms{
	text-align: center;
	margin-bottom: 220px;
}




/*login*/





.bg-2body{
	background-color: black;
	padding-top: 50px;
	padding-bottom: 50px;
}
.fitness h4{
	color: white;
	font-size: 36px;
	margin-top: 30px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}
.fitness span{
	color: #7A743D;
	font-size: 36px;
	font-weight: bold;
}
.zumba{
	position: relative;
	overflow: hidden;
}
.zumba:hover img{
	transform: scale(1.1);
	transition: 0.3s ease-in;
}
.zumba img{
	transition: 0.3s ease-in;
}

.zumba ::selection{
	color: yellow;
	background-color: black;
}
.trans{
	transition: 0.3s ease-in;
}
.posi-abs{
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
}
.posi-abs h5{
	color: white;
	font-family: 'Montserrat', sans-serif;
}
.tag i{
	color: white;
	margin-top: 50px;
	font-size: 30px;
}
.tag h5{
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}
.shape h4{
	font-family: 'MedievalSharp', cursive;
	color: white;
	font-size: 64px;
}
.shape p{
	color: white;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 20px;
}
.shape h4:nth-child(1){
	margin-top: 100px;
	text-align: left;
}
.shape-1 a{
	text-transform: capitalize;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	background-color: #7A743D;
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 5px;
	margin-top: 10px;
	transition: all 0.3s;
}
.shape-1{
	margin-top: 30px;
	transition: all 0.3s;
}
.shape-1:hover{
	transform: translateY(-5px);
	transition: all 0.3s;
}
.shape-1 a:hover{
	color: #7A743D;
	background-color: white;
/*	transform: translateX(10px);*/
	transition: all 0.3s;
}
.choose ul{
	color: white;
	margin-left: 398px;
	margin-top: 80px;
}
.choose li{
	line-height: 30px;
	font-family: 'Montserrat', sans-serif;
}
.video img{
	margin-top: 40px;
}
.join h5{
	font-family: 'Montserrat', sans-serif;
	color: white;
	margin-top: 70px;
	text-align: center;
}

/*//////carouse//////*/


.carousel-position{
	position: relative;
}
.carousel-absalute{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50% ,-50%);
}
.carousel-john i{
	color: #7A743D;
	font-size: 35px;
}
.carousel-john h5{
	font-size: 45px;
	text-transform: uppercase;
	color: white;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}
.carousel-john ul{
	list-style: none;
	display: inline-flex;
	gap: 20px;
	padding: 0;
	text-align: center;
}
.carousel-john{
	opacity: 0;
	transition: 0.3s ease-in;
}
.imag-cover:hover .carousel-john{
	opacity: 100%;
	transition: 0.3s ease-in;
}
.imag-cover:hover .images-carousel{
	opacity: 30%;
	transition: 0.3s ease-in;
}
.images-carousel{
	transition: 0.3s ease-in;
}
.carousel-john i:hover{
	color: white;
}
.owl-nav{
	text-align: right;
	color: white;
	font-size: 45px;
}
.owl-prev{
	margin-right: 30px;
}
.owl-next{
	margin-right: 10px;
}


/*//////////our pricing///////*/

.our-reletive{
	position: relative;
/*	overflow: hidden;*/
}
.our-reletive img{
	transition: 0.3s ease;
}
.our-abslute{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50% ,-50%);
}
.our-abslute h5{
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
}
.our-bgclr{
	background-color: white;
	border-radius: 62px 0px 62px 0px;
	padding-bottom: 50px;
	overflow: hidden;
	
}
.our-bgclr:hover img{
	transform: scale(1.1);
	transition: 0.3s ease;
}
.our-abslute-2{
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50% ,-50%);
}
.our-abslute-2 h5{
	font-size: 21px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	background-color: #7A743D;
	border-radius: 50%;
	padding: 41px;
    padding-top: 45px;
    margin: 22px;
    padding-bottom: 45px;
    text-align: center;
    text-transform: uppercase;
}
.houres h5{
	font-family: 'Montserrat', sans-serif;
	color: black;
	text-align: center;
	text-transform: uppercase;
	font-size: 21px;
}
.houres h5:first-child{
	margin-top: 110px;
}
.houres h5:last-child{
	margin-bottom: 50px;
}
.buy{
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	background-color: #7A743D;
	text-decoration: none;
	text-align: center;
	padding: 10px 60px;
	color: white;
	border-radius: 20px;
	transition: 0.3s ease;
}
.buy:hover{
	color: white;
	box-shadow: 0px 0px 20px 0px grey;
	transition: 0.3s ease;

}

/*////////follow us//////*/

.Instagram span{
	color: #7A743D;
}
.Instagram p{
	color: white;
	text-transform: capitalize;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}
.qr-code{
	font-family: 'Montserrat', sans-serif;
	color: white;
}
.qr-code span{
	color: #7A743D;
}
.overflow{
	overflow: hidden;
	
}
.overflow:hover img{
	transform: scale(1.1);
	cursor: pointer;
	transition: 0.3s ease-out;
}
.overflow img{
	transition: 0.3s ease-out;
}


/*///////////review//////////////*/

.review-carousel {
	position: relative;
	display: flex;
	max-width: 700px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 80px;
	
}
.review-carousel::after {
	content: "";
	background-image: url("../asset/icons/quote-left.svg");
	width: 53px;
	height: 47px;
	background-repeat: no-repeat;
	position: absolute;
	display: block;
	top: -32px;
	left: -71px;
}
.review-carousel img{
	width: 118px !important;
}
.date-david{
	display: flex;
	justify-content: space-between;
	color: white;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}
.david{
	color: white;
	margin-left: 20px;
}
.david p{
	margin-top: 40px;
	font-family: 'Montserrat', sans-serif;
}
.review-1 .owl-next span{
	position: absolute;
	right: 285px;
	top: 204px;
}
.review-1 .owl-prev span{
	position: absolute;
	right: 340px;
	top: 204px;
}
.review-1 .owl-next span:hover{
	color: #7A743D;
}
.review-1 .owl-prev span:hover{
	color: #7A743D;
}
.position-carousel{
	position: relative;

}
.write-review a{
	color: #7A743D !important;
	position: absolute;
    top: 218px;
    left: 550px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 600;
    background-color: transparent !important;
}
.write-review a:focus{
	box-shadow: 1px 1px 5px 5px #7A743D !important;
}
.write-review a:hover{
	color: white;
	border-color: #7A743D;
}
.modal-backdrop {
	display: none;
}
/*.btn-primary{
	background-color: transparent !important;
}*/

/*//////////////form//////////////?*/

.bg-form{
	background-color: white;
	border-radius: 55px 0px 55px 0px;
	overflow: hidden;
	transition: 0.3s ease;
}
.form-action input{
	width: 100%;
	border: 1px solid #7A743D;
	border-radius: 5px;
	height: 40px;
	margin-bottom: 30px;
	padding: 10px;
	transition: 0.3s ease;
}
.form-action input:focus{
	box-shadow: 1px 1px 5px 5px #7A743D;
	border: none;
	transition: 0.3s ease;
}
.form-action h5{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	margin-top: 33px;
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 50px;
}
.form-action ::placeholder{
	font-family: 'Montserrat', sans-serif;
	color: #7A743D;
}
.form-action select{
	width: 100%;
	border: 1px solid #7A743D;
	border-radius: 5px;
	height: 40px;
	margin-bottom: 30px;
	font-family: 'Montserrat', sans-serif;
	color: #7A743D;
	padding: 10px;
	transition: 0.3s ease;
}
.form-action select:focus{
	box-shadow: 1px 1px 5px 5px #7A743D;
	border: none;
	transition: 0.3s ease;
}
.form-action textarea{
	padding: 10px;
	border: 1px solid #7A743D;
	border-radius: 5px;
	margin-bottom: 30px;
	transition: 0.3s ease;
}
.form-action textarea:focus{
	box-shadow: 1px 1px 5px 5px #7A743D;
	border: none;
	transition: 0.3s ease;
}
.form-padding{
	padding-top: 50px;
	padding-bottom: 50px;
}
.form-action button{
	padding: 10px 25px;
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	color: #7A743D;
	transition: 0.3s ease;
	border: none;
	border: 1px solid #7A743D;
}
.form-action button:hover{
	box-shadow: 1px 2px 20px 1px gray;
	transition: 0.3s ease;
}
/*.form-map:hover{
	transform: scale(1.1);
	transition: 0.3s ease;
}*/
.form-map{
	transition: 0.3s ease;
}
.form-action textarea{
	width: 100%;
}

/*//////////footer////////*/

.bg-footer{
	background-color: #1D1C1C;
	padding-top: 50px;
	padding-bottom: 50px;
}
.company{
	color: white;
}
.company h5,h6,p{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}
.company span{
	color: #7A743D;
}
.ss-media-footer a{
	color: white;
	text-decoration: none;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	text-transform: capitalize;
}
.ss-media-footer i{
	color: blue;
	font-size: 30px;

}
.ss-media-footer{
	border: 1px solid white;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
.whatsapp-footer{
	color: green !important;
}
.ss-media-footer:hover{
	cursor: pointer;

}
.ss-media-footer:hover img{
	transform: scale(0.9);
}
.ss-media-footer:hover a{
	color: #7A743D;
}
.bg-3body{
	background-color: black;
	padding-top: 20px;
	padding-bottom: 20px;
}
.bg-3body p{
	color: white;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	font-size: 10px;
}
.modal-title{
	font-family: 'Montserrat', sans-serif;
}
.modal-header{
	border-bottom: 0px !important;
}
.modal-footer {
	border-top: 0px !important;
}
.modal-content{
	border-radius: 20px 0px !important;
	text-align: center !important;
	width: 700px !important;
	border: 3px solid #7A743D !important;
	background-color: black !important;
}
.modal-dialog{
	top: 150px !important;
	right: 110px !important;
}
.textarea-pop{
	border-radius: 20px 0px !important;
	padding-top: 15px !important;
	padding-left: 15px !important;
}

.btn-close{
	color: white !important;
}
.submit-popup{
	background-color: #7A743D !important;
	border-color: white !important;
}
.submit-popup:focus{
	box-shadow: 0px 0px 13px 6px gray !important;
}
.submit-popup:hover{
	background-color: white !important;
	color: #7A743D !important;
}
.button-close-popup{
	background-image: url("../asset/images/wclose.png") !important;
	background-repeat: no-repeat !important;
}

/*//////////about/////////*/

.about-bg{
	background-image: url("../asset/images/about-banner.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 190px;
	padding-bottom: 140px;

}
.about-feel h3{
	color: white;
	font-family: 'MedievalSharp', cursive;
	font-size: 80px;
	text-transform: uppercase;
}
.about-feel span{
	color: #7A743D;
}
.about-feel p{
	color: white;
	font-family: 'Montserrat', sans-serif;
	padding-right: 200px;
	margin-top: 20px;
}
.about-us{
	margin-top: 150px;
}
.about-us p{
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;

}
.about-us p:first-child{
	margin-top: 60px;
	text-align: justify;
}
.about-bestgym{
	text-transform: uppercase;
}
.about-bestgym h5{
	color: #7A743D;
    font-size: 30px;

}
.about-bestgym p{
	color: white;
    font-size: 13px;
    margin-bottom: 50px;
}
footer {
	position: sticky;
	z-index: -99;
	display: block;
	bottom: 54px;
	left: 0;
	right: 0;
}
.copy-rights{
	position: sticky;
	z-index: -99;
	display: block;
	bottom: 0;
	left: 0;
	right: 0;
}
